<div class="w-full flex flex-col items-center gap-6 px-4">
  <div [formGroup]="filtersForm" class="w-full max-w-[1000px] flex flex-col items-center sm:flex-row gap-4">
    <mat-form-field>
      <mat-label>Filtruj po treści</mat-label>
      <input matInput formControlName="searchPhrase" placeholder="Wpisz tekst...">
    </mat-form-field>

    <mat-form-field >
      <mat-label>Filtruj po użytkowniku</mat-label>
      <mat-select formControlName="user">
        <mat-option value="">Wszyscy</mat-option>
        @for (user of users(); track user.id) {
          <mat-option [value]="user.id">
            {{ user.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="ml-auto items-center" formControlName="onlyFavorites">Tylko ulubione</mat-checkbox>
  </div>

  <div class="flex flex-col items-center gap-12 w-full">
    @if (postsLoading()) {
      <mat-spinner diameter="50"></mat-spinner>
    } @else if (filteredPosts().length === 0) {
      <p class="text-gray-500 text-lg mt-4">Brak postów pasujących do filtrów.</p>
    } @else {
      @for (post of filteredPosts(); track post.id) {
        <app-post
          class="w-full max-w-[1000px]"
          [post]="post"
        ></app-post>
      }
    }
  </div>
</div>
